/* here you can put your own css to customize and override the theme */
li.ms-optgroup-label
{
  font-weight: bold;
}
#ms-select_permissions
{
  width:100%;
}

form .form-body.text-left label
{
  text-align: left;
}
.color-success{
  color: #3CC051!important;
}